.home-container {  
  margin-top: 0px;   
  align-items: center;
  padding: 20px;
  background-color: gray;
  height: 100vh; 
  
}

.home-title {
  margin-top: 0px;
  width:fit-content; 
  margin-left: 50%;  
  background-color: aqua; 
  
}
.subreddit-title {
  position: fixed;
  width: fit-content;
  top: 72px;
  margin-top: 0px;  
  background-color: bisque;
}


.subreddit-list-container {
  position: fixed; /* Set the container as fixed */
  top: 105px; /* Position from the top of the viewport */
   /* Position from the left of the viewport */
  overflow-y: auto;
  width: 250px; /* Set a fixed width for the subreddit list */
  height:100%; /* Set the height to cover the entire viewport */
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Include padding and border in the total width */
 
   /* Enable vertical scrolling if content exceeds height */
}
.subreddit-list-container::-webkit-scrollbar {
  display: none; /* Webkit (Chrome, Safari, etc.) */
}

.post-container {  
  align-self: auto;
  margin-top: 57px;
  margin-left: 260px;
  width: calc(100% - 260px);  /* Set a fixed width for the post container */
  padding: 10px;
  background-color:white;
  word-wrap: break-word; 
  overflow-y: auto; 
}


